.navbar-about-container {
    margin-top: 30px; 
    position: sticky;
    top: 0;
    background-color: white;
    padding: 20px;

    li{
        border: 1px solid $primary-color;
        border-radius: 25px;
        padding: 10px 15px;  
        color: $primary-color;               

        &:hover{
            background-color: $primary-color;
            color: $text-color;
        }
    }
}