.intro-container{
    padding: 75px;
    margin: 0 auto;
    color: $text-gray-color;

    h2{
        font-size: 42px;        
    }

    h3{
        font-size: 24px;
    }

    p{        
        max-width: 575px;

        @media (max-width: 767px) {
            max-width: 100%;
        }
    }
}