.intro-container{
    margin: 0px auto;
    padding: 50px 75px;
    color: $text-gray-color;

    @media (max-width: 475px){
        padding: 32px;
        text-align: center;
    }

    h2{
        font-size: 42px;
        
        @media (max-width: 475px){
            font-size: 28px;
        }
    }

    h3{
        font-size: 24px;
        @media (max-width: 475px){
            font-size: 18px;
        }
    }

    p{        
        max-width: 575px;

        @media (max-width: 767px) {
            max-width: 100%;
        }

        @media (max-width: 475px){
            font-size: 16px;            
        }
    }

    a{
        @media (max-width: 475px){
            font-size: 14px;
        }
    }
}