.project-item-container{
    margin: 0px auto;

    .project-item-infos{

        h3{
            font-weight: bold;
            font-size: 24px;
            @media (max-width: 475px){
                font-size: 18px;                
            }
        }

        .icons-categories-lists{

            @media (max-width: 475px){
                display: flex;
                flex-direction: column;
                gap: 16px;                
                align-items: center;                        
            }

            .project-description{
                @media (max-width: 475px){
                    font-size: 16px;                              
                }
            }

            .icons-list{

                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                img{

                    width: 32px;
                    height: 32px;
                }
            }

            .separation{
                @media (max-width: 475px){
                    display: none;          
                }
            }

            .categories-list{

                .categorie{

                    background-color: $secondary-color;
                    color: $text-color;                
                    border-radius: 25px;
                    padding: 10px 15px;
                    width: fit-content;               
                }
            }
        }

        .btn-container{

            @media (max-width: 475px){
                align-self: center;
            }

            a{
                border: 1px solid $primary-color;
                border-radius: 25px;
                padding: 10px 15px;                         

                &:hover{
                    background-color: $primary-color;
                    color: $text-color;
                }

                @media (max-width: 475px){
                    font-size: 14px;
                }
            }

            svg{
                width: 1.5em;
                height: 1.5em;             
            }
        }

        
    }

    .project-cover{

        width: 300px;
        border: 1px solid $primary-color;
        border-radius: 30px;
        padding: 20px;

        @media (max-width: 820px)
        {
            display: none;
        }
    }
}

.return-btn{
    @media (max-width: 820px)
    {
        margin-bottom: 30px;
    }
}