.project-item-container{

    .project-item-infos{

        .icons-list{

            .icon{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img{

                width: 32px;
                height: 32px;
            }
        }

        .categories-list{

            .categorie{

                background-color: $secondary-color;
                color: $text-color;                
                border-radius: 25px;
                padding: 10px 15px;
                width: fit-content;               
            }
        }
    }

    .project-cover{

        width: 300px;

        @media (max-width:767px)
        {
            display: none;
        }
    }
}