.biography-container{
    margin: 0px auto;
    padding: 50px 75px;

    @media (max-width: 676px)
    {
        flex-direction: column;
    }

    .biography-infos{
        min-width: 20vw;

        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }        
    }
    
    h2{
        font-weight: 500;
        font-size: 24px;
    }
}