.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 113px;
    margin: 80px auto 100px auto;

    &-title{        
        font-size: 288px;
        color: $primary-color;
        font-weight: 700; 
        
        @media only screen and (max-width : 600px) {
            font-size: 144px;
        }

        @media only screen and (max-width : 400px) {
            font-size: 96px;
        }
    }

    &-text{
        font-size: 36px;
        color: $primary-color;
        font-weight: 500;
        text-align: center;
        padding: 0px 30px;

        @media only screen and (max-width : 600px) {
            font-size: 24px;
        }

        @media only screen and (max-width : 400px) {
            
            font-size: 18px;
        }
    }

    &-link{
        font-size: 18px;
        color: $primary-color;
        font-weight: 500;

        @media only screen and (max-width : 400px) {
            font-size: 14px;
        }        
    }

    a{
        border: 1px solid $primary-color;
        border-radius: 25px;
        padding: 10px 15px;
        width: fit-content;             

        &:hover{
            background-color: $primary-color;
            color: $text-color;
        }
    }

    svg{
        width: 1.5em;
        height: 1.5em;     
    }
}