.project-infos-container{

    margin: 0px auto;
    padding: 50px 75px;
    background-color: $text-color;
    color: $text-gray-color;

    @media (max-width: 475px){
        text-align: center;
        padding: 32px;            
    }  

    .project-infos-content{
        margin: 50px auto;

        article{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            h4{
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    a{
        border: 1px solid $primary-color;
        border-radius: 25px;
        padding: 10px 15px;                

        &:hover{
            background-color: $primary-color;
            color: $text-color;
        }
    }

    svg{
        width: 1.5em;
        height: 1.5em;       
    }
}