.project-infos-container{

    margin: 0px auto;
    padding: 50px 75px;
    background-color: $text-color;
    color: $text-gray-color;

    .project-infos-content{
        margin: 50px auto;

        article{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            h4{
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    
    a{
        display: none;
    }
}