.diplomas-container{
    background-color: $background-skills;
    border-radius: 25px;
    padding: 30px; 
    width: 100%;
    height: 100%;

    .diplomas-header{
        @media (max-width: 475px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 16px;                 
        }
    }

    img{
        width: 128px;
        height: 128px;
        border-radius: 25px;
        object-fit: fill;        
    }
    
    p{            
        @media (max-width: 475px){
            text-align: center;        
        }
    }

    .diplomas-infos{
        padding-left: 20px;

        @media (max-width: 475px){
            padding-left: 0px;                     
        }

        h3{
            font-weight: bold;
            font-size: 26px;
        }

        ul{
            flex-wrap: wrap;
            @media (max-width: 475px){
                justify-content: center;                    
            }
        }

    }

    .skills-acquired{
        flex-wrap: wrap;        
                    
        @media (max-width: 475px){
            justify-content: center;      
        }

        p{
            border: 1px solid $text-color;
            color: $text-color;                
            border-radius: 25px;
            padding: 5px 15px;
            width: fit-content;            
        }
    }
}