.burger{
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: $text-color; 
    transform-origin: 1px;
    transition: all 0.3s linear;     
}

.burger1{
    transition: transform 0.3s ease;
    transform: rotate(0);

    &.open {
        transform: rotate(45deg);
    }
}

.burger2{
    transition: transform 0.3s ease;
    transform: translateX(0);
    opacity: 1;

    &.open {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.burger3{
    transition: transform 0.3s ease;
    transform: rotate(0);

    &.open {
        transform: rotate(-45deg);
    }
}

