.skills-container{
    background-color: $primary-color;
    color: $text-color;
    margin: 0px auto;
    padding: 50px 75px;

    @media (max-width: 767px) {
        padding: 32px;
        gap: 32px;        
    }

    h2{
        font-size: 36px;
        @media (max-width: 767px) {
            font-size: 28px;
            text-align: center;
        }

        @media (max-width: 500px) {
            font-size: 24px;
            text-align: center;
        }
    }

    .skills-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px 20px;

        @media (max-width: 1100px) {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
}