.contact-container{   
    margin: 0px auto;
    padding: 50px 75px;
    background-color: $primary-color;
    color: $text-color;

    @media (max-width: 475px){
        padding: 32px;
    }

    h2{
        font-size: 36px;
        @media (max-width: 475px){
            font-size: 28px;
        }   
    }

    h3{
        font-size: 24px;
        @media (max-width: 475px){
            font-size: 18px;
        }
    }

    a{
        border: 1px solid $text-color;
        border-radius: 25px;
        padding: 10px 15px;
        width: fit-content;             

        &:hover{
            background-color: $text-color;
            color: $primary-color;
        }

        @media (max-width: 475px){
            font-size: 14px;
        }
    }

    svg{
        width: 1.5em;
        height: 1.5em;       
    }
}