header{  
    background-color: $primary-color;
    color : $text-color;
    padding: 20px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    z-index: 150;

    a{
        display: flex;        
        align-items: center;
    }
}