.hamburger {
  display: none;  

  @media (max-width: 767px) {
    display: block;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    z-index: 10;
  }
}

nav {
    display: flex;
    align-items: center;

    a{
        display: flex;
        align-items: center;
    }

    li{
        &.active{
            font-weight: bold;            
        }
    }

    .nav-circle{
      background-color: $background-circle;
      position: absolute;
      right: 0;      
      top: 0;
      width: 200px;
      height: 220px;             
    }
}

@media (max-width: 767px) {
  nav {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 70px;
      right: 0px;
      height: 150px;
      width: 200px;    
    }    
  }
}
