.skills-intro-container{
    margin: 50px auto;
    padding: 50px 75px;
    background-color: $primary-color;
    color: $text-color;

    h2{
        font-size: 42px;        
    }

    h3{
        font-weight: bold;
        font-size: 24px;
    }

    .skills-intro-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        img{
            width: 64px;
            height: 64px;
        }
    }

        a{
        border: 1px solid $text-color;
        border-radius: 25px;
        padding: 10px 15px;
        width: fit-content;             

        &:hover{
            background-color: $text-color;
            color: $primary-color;
        }
    }

    svg{
        width: 1.5em;
        height: 1.5em;       
    }
}