.skills-intro-container{
    margin: 0px auto;
    padding: 50px 75px;
    background-color: $primary-color;
    color: $text-color;    

    @media (max-width: 475px){
        padding: 32px;
        text-align: center;        
    }

    h2{
        font-size: 42px; 
        @media (max-width: 475px){
            font-size: 28px;
        }       
    }

    h3{
        font-weight: bold;
        font-size: 24px;
        @media (max-width: 475px){
            font-size: 18px;
        }
    }

    p{
        @media (max-width: 475px){
            font-size: 16px;            
        }
    }

    .skills-intro-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;

        @media (max-width: 767px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        li{
            @media (max-width: 475px){                
                align-items: center;     
            }

            img{
                width: 64px;
                height: 64px;
            }
        }       
    }

        a{
            border: 1px solid $text-color;
            border-radius: 25px;
            padding: 10px 15px;
            width: fit-content;                         

            &:hover{
                background-color: $text-color;
                color: $primary-color;
            }

            @media (max-width: 475px){
                font-size: 14px;
                align-self: center;
            }
        }

    svg{
        width: 1.5em;
        height: 1.5em;       
    }
}