.studies-container{
    margin: 0px auto;
    padding: 50px 75px;
    background-color: $primary-color;
    color: $text-color;

    @media (max-width: 767px) {
        padding: 32px;
        gap: 32px;
    }

    h2{
        font-size: 36px;
        @media (max-width: 767px) {
            font-size: 28px;
            text-align: center;
        }

        @media (max-width: 474px) {
            font-size: 24px;
            text-align: center;
        }
    }

    .studies-list{
        display: grid;
        grid-template-columns: 1fr 1fr;                
        align-items: center;
        justify-content: center;       
        gap: 20px;

        @media (max-width: 1240px) {
            display: flex;
            flex-direction: column;        
            gap: 32px;
        }
        
        .studies-item{
            width: 100%;
            height: 100%;            
        }
    }
}