.network-container{    
    padding: 10px 0px;
    @media (max-width: 767px) {
        flex-direction: column;
    }

    a{
        border: 1px solid $primary-color;
        border-radius: 25px;
        padding: 10px 15px;                 

        &:hover{
            background-color: $primary-color;
            color: $text-color;
        }
    }

    svg{
        width: 1.5em;
        height: 1.5em;       
    }
}