.skill-item{
    .skill-item-level-container{
        background-color: $background-skills;
        border-radius: 25px;        

        .skill-item{
            background-color: $secondary-color;
            color: $text-color;
            padding: 8px 20px;
            text-align: right;
            font-size: 20px;
            border-radius: 25px;        

            img{
                width: 32px;
                height: 32px;
                
                @media (max-width: 767px) {
                    width: 28px;
                    height: 28px;
                }
                @media (max-width: 500px) {
                    width: 24px;
                    height: 24px;
                }
            }

            .skill-item-name{
                                            
                @media (max-width: 767px) {
                    font-size: 18px;
                }
                @media (max-width: 500px) {
                    font-size: 14px;
                }
            }

            .skill-item-level{
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}