.projects-intro-container{
    margin: 0px auto;
    padding: 50px 75px;
    background-color: $text-color;
    color: $text-gray-color;

    h2{
        font-size: 42px;        
    }

    h3{
        font-weight: bold;
        font-size: 24px;
    }

    a{
        border: 1px solid $primary-color;
        border-radius: 25px;
        padding: 10px 15px;
        width: fit-content;        

        &:hover{
            background-color: $primary-color;
            color: $text-color;
        }
    }

    svg{
        width: 1.5em;
        height: 1.5em;       
    }
}