.experience-container{
    border: 1px solid $primary-color;
    border-radius: 25px;
    padding: 30px; 
    width: 100%;
    height: 100%;
    
    .experience-header{
        @media (max-width: 475px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 16px;                 
        }
    }

    img{
        width: 128px;
        height: 128px;
        border-radius: 25px;
        object-fit: contain;
    }

    p{            
        @media (max-width: 475px){
            text-align: center;        
        }
    }

    .experience-infos{
        padding-left: 20px;

        h3{
            font-weight: bold;
            font-size: 26px;
        }

        ul{
            flex-wrap: wrap;
            @media (max-width: 475px){
                justify-content: center;                    
            }
        }
    }

    .skills-acquired{
        flex-wrap: wrap;

        @media (max-width: 475px){
            justify-content: center;      
        }
        
        p{
            background-color: $secondary-color;            
            color: $text-color;                
            border-radius: 25px;
            padding: 5px 15px;
            width: fit-content; 
        }
    }
}