@import "./tailwind.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0 auto;
  border-bottom: 1px solid white;
  z-index: 150;
}
header a {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
}
@media (max-width: 767px) {
  .hamburger {
    display: block;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    z-index: 10;
  }
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  display: flex;
  align-items: center;
}
nav li.active {
  font-weight: bold;
}
nav .nav-circle {
  background-color: rgb(44, 44, 44);
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 220px;
}

@media (max-width: 767px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70px;
    right: 0px;
    height: 150px;
    width: 200px;
  }
}
.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.burger1 {
  transition: transform 0.3s ease;
  transform: rotate(0);
}
.burger1.open {
  transform: rotate(45deg);
}

.burger2 {
  transition: transform 0.3s ease;
  transform: translateX(0);
  opacity: 1;
}
.burger2.open {
  transform: translateX(-100%);
  opacity: 0;
}

.burger3 {
  transition: transform 0.3s ease;
  transform: rotate(0);
}
.burger3.open {
  transform: rotate(-45deg);
}

footer {
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
  padding: 20px;
  margin: 0 auto;
  border-top: 1px solid rgb(255, 255, 255);
}
@media (max-width: 475px) {
  footer p {
    font-size: 14px;
  }
}

.intro-container {
  margin: 0px auto;
  padding: 50px 75px;
  color: rgba(20, 20, 20, 0.8);
}
@media (max-width: 475px) {
  .intro-container {
    padding: 32px;
    text-align: center;
  }
}
.intro-container h2 {
  font-size: 42px;
}
@media (max-width: 475px) {
  .intro-container h2 {
    font-size: 28px;
  }
}
.intro-container h3 {
  font-size: 24px;
}
@media (max-width: 475px) {
  .intro-container h3 {
    font-size: 18px;
  }
}
.intro-container p {
  max-width: 575px;
}
@media (max-width: 767px) {
  .intro-container p {
    max-width: 100%;
  }
}
@media (max-width: 475px) {
  .intro-container p {
    font-size: 16px;
  }
}
@media (max-width: 475px) {
  .intro-container a {
    font-size: 14px;
  }
}

.network-container {
  padding: 10px 0px;
}
@media (max-width: 767px) {
  .network-container {
    flex-direction: column;
  }
}
.network-container a {
  border: 1px solid rgba(20, 20, 20, 0.8);
  border-radius: 25px;
  padding: 10px 15px;
}
.network-container a:hover {
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
}
.network-container svg {
  width: 1.5em;
  height: 1.5em;
}

.contact-container {
  margin: 0px auto;
  padding: 50px 75px;
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
}
@media (max-width: 475px) {
  .contact-container {
    padding: 32px;
    text-align: center;
  }
}
.contact-container h2 {
  font-size: 36px;
}
@media (max-width: 475px) {
  .contact-container h2 {
    font-size: 28px;
  }
}
.contact-container h3 {
  font-size: 24px;
}
@media (max-width: 475px) {
  .contact-container h3 {
    font-size: 18px;
  }
}
.contact-container a {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px 15px;
  width: -moz-fit-content;
  width: fit-content;
}
.contact-container a:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(20, 20, 20, 0.8);
}
@media (max-width: 475px) {
  .contact-container a {
    font-size: 14px;
    align-self: center;
  }
}
.contact-container svg {
  width: 1.5em;
  height: 1.5em;
}

.skills-intro-container {
  margin: 0px auto;
  padding: 50px 75px;
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
}
@media (max-width: 475px) {
  .skills-intro-container {
    padding: 32px;
    text-align: center;
  }
}
.skills-intro-container h2 {
  font-size: 42px;
}
@media (max-width: 475px) {
  .skills-intro-container h2 {
    font-size: 28px;
  }
}
.skills-intro-container h3 {
  font-weight: bold;
  font-size: 24px;
}
@media (max-width: 475px) {
  .skills-intro-container h3 {
    font-size: 18px;
  }
}
@media (max-width: 475px) {
  .skills-intro-container p {
    font-size: 16px;
  }
}
.skills-intro-container .skills-intro-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
@media (max-width: 767px) {
  .skills-intro-container .skills-intro-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 475px) {
  .skills-intro-container .skills-intro-list li {
    align-items: center;
  }
}
.skills-intro-container .skills-intro-list li img {
  width: 64px;
  height: 64px;
}
.skills-intro-container a {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px 15px;
  width: -moz-fit-content;
  width: fit-content;
}
.skills-intro-container a:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(20, 20, 20, 0.8);
}
@media (max-width: 475px) {
  .skills-intro-container a {
    font-size: 14px;
    align-self: center;
  }
}
.skills-intro-container svg {
  width: 1.5em;
  height: 1.5em;
}

.skills-container {
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
  margin: 0px auto;
  padding: 50px 75px;
}
@media (max-width: 767px) {
  .skills-container {
    padding: 32px;
    gap: 32px;
  }
}
.skills-container h2 {
  font-size: 36px;
}
@media (max-width: 767px) {
  .skills-container h2 {
    font-size: 28px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .skills-container h2 {
    font-size: 24px;
    text-align: center;
  }
}
.skills-container .skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 20px;
}
@media (max-width: 1100px) {
  .skills-container .skills-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.skill-item .skill-item-level-container {
  background-color: rgb(44, 44, 44);
  border-radius: 25px;
}
.skill-item .skill-item-level-container .skill-item {
  background-color: rgb(86, 86, 255);
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  text-align: right;
  font-size: 20px;
  border-radius: 25px;
}
.skill-item .skill-item-level-container .skill-item img {
  width: 32px;
  height: 32px;
}
@media (max-width: 767px) {
  .skill-item .skill-item-level-container .skill-item img {
    width: 28px;
    height: 28px;
  }
}
@media (max-width: 500px) {
  .skill-item .skill-item-level-container .skill-item img {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 767px) {
  .skill-item .skill-item-level-container .skill-item .skill-item-name {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .skill-item .skill-item-level-container .skill-item .skill-item-name {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .skill-item .skill-item-level-container .skill-item .skill-item-level {
    display: none;
  }
}

.projects-intro-container {
  margin: 0px auto;
  padding: 50px 75px;
  background-color: rgb(255, 255, 255);
  color: rgba(20, 20, 20, 0.8);
}
@media (max-width: 475px) {
  .projects-intro-container {
    padding: 32px;
    text-align: center;
  }
}
.projects-intro-container h2 {
  font-size: 42px;
}
@media (max-width: 475px) {
  .projects-intro-container h2 {
    font-size: 28px;
  }
}
.projects-intro-container a {
  border: 1px solid rgba(20, 20, 20, 0.8);
  border-radius: 25px;
  padding: 10px 15px;
  width: -moz-fit-content;
  width: fit-content;
}
.projects-intro-container a:hover {
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
}
.projects-intro-container svg {
  width: 1.5em;
  height: 1.5em;
}

.project-item-container {
  margin: 0px auto;
}
.project-item-container .project-item-infos h3 {
  font-weight: bold;
  font-size: 24px;
}
@media (max-width: 475px) {
  .project-item-container .project-item-infos h3 {
    font-size: 18px;
  }
}
@media (max-width: 475px) {
  .project-item-container .project-item-infos .icons-categories-lists {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}
@media (max-width: 475px) {
  .project-item-container .project-item-infos .icons-categories-lists .project-description {
    font-size: 16px;
  }
}
.project-item-container .project-item-infos .icons-categories-lists .icons-list .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-item-container .project-item-infos .icons-categories-lists .icons-list img {
  width: 32px;
  height: 32px;
}
@media (max-width: 475px) {
  .project-item-container .project-item-infos .icons-categories-lists .separation {
    display: none;
  }
}
.project-item-container .project-item-infos .icons-categories-lists .categories-list .categorie {
  background-color: rgb(86, 86, 255);
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 10px 15px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 475px) {
  .project-item-container .project-item-infos .btn-container {
    align-self: center;
  }
}
.project-item-container .project-item-infos .btn-container a {
  border: 1px solid rgba(20, 20, 20, 0.8);
  border-radius: 25px;
  padding: 10px 15px;
}
.project-item-container .project-item-infos .btn-container a:hover {
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
}
@media (max-width: 475px) {
  .project-item-container .project-item-infos .btn-container a {
    font-size: 14px;
  }
}
.project-item-container .project-item-infos .btn-container svg {
  width: 1.5em;
  height: 1.5em;
}
.project-item-container .project-cover {
  width: 300px;
  border: 1px solid rgba(20, 20, 20, 0.8);
  border-radius: 30px;
  padding: 20px;
}
@media (max-width: 820px) {
  .project-item-container .project-cover {
    display: none;
  }
}

@media (max-width: 820px) {
  .return-btn {
    margin-bottom: 30px;
  }
}

.project-infos-container {
  margin: 0px auto;
  padding: 50px 75px;
  background-color: rgb(255, 255, 255);
  color: rgba(20, 20, 20, 0.8);
}
@media (max-width: 475px) {
  .project-infos-container {
    text-align: center;
    padding: 32px;
  }
}
.project-infos-container .project-infos-content {
  margin: 50px auto;
}
.project-infos-container .project-infos-content article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.project-infos-container .project-infos-content article h4 {
  font-size: 20px;
  font-weight: bold;
}
.project-infos-container a {
  border: 1px solid rgba(20, 20, 20, 0.8);
  border-radius: 25px;
  padding: 10px 15px;
}
.project-infos-container a:hover {
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
}
.project-infos-container svg {
  width: 1.5em;
  height: 1.5em;
}

.contact-form-container {
  margin: 0px auto;
  padding: 50px 75px;
  background-color: rgb(255, 255, 255);
  color: rgba(20, 20, 20, 0.8);
}
@media (max-width: 767px) {
  .contact-form-container {
    padding: 32px;
  }
}
@media (max-width: 475px) {
  .contact-form-container {
    padding: 32px;
    text-align: center;
  }
}
.contact-form-container .contact-form-intro {
  color: rgba(20, 20, 20, 0.8);
  padding: 10px 0;
}
.contact-form-container .contact-form-intro h2 {
  font-size: 36px;
}
@media (max-width: 767px) {
  .contact-form-container .contact-form-intro h2 {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .contact-form-container .contact-form-intro h2 {
    font-size: 28px;
  }
}
.contact-form-container .contact-form-intro h3 {
  font-size: 24px;
}
@media (max-width: 767px) {
  .contact-form-container .contact-form-intro h3 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .contact-form-container .contact-form-intro h3 {
    font-size: 18px;
  }
}
.contact-form-container form {
  display: flex;
  flex-direction: column;
}
.contact-form-container form label {
  margin-bottom: 10px;
  padding-left: 15px;
}
.contact-form-container form input, .contact-form-container form textarea {
  min-height: 40px;
  border: 1px solid rgba(20, 20, 20, 0.8);
  border-radius: 25px;
  margin-bottom: 20px;
  box-shadow: 5px 10px rgba(20, 20, 20, 0.8);
  padding: 20px 25px;
}
.contact-form-container a, .contact-form-container button {
  border: 1px solid rgba(20, 20, 20, 0.8);
  border-radius: 25px;
  padding: 10px 15px;
  width: -moz-fit-content;
  width: fit-content;
}
.contact-form-container a:hover, .contact-form-container button:hover {
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
}
.contact-form-container button {
  margin-top: 40px;
}
.contact-form-container svg {
  width: 1.5em;
  height: 1.5em;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 113px;
  margin: 80px auto 100px auto;
}
.error-container-title {
  font-size: 288px;
  color: rgba(20, 20, 20, 0.8);
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  .error-container-title {
    font-size: 144px;
  }
}
@media only screen and (max-width: 400px) {
  .error-container-title {
    font-size: 96px;
  }
}
.error-container-text {
  font-size: 36px;
  color: rgba(20, 20, 20, 0.8);
  font-weight: 500;
  text-align: center;
  padding: 0px 30px;
}
@media only screen and (max-width: 600px) {
  .error-container-text {
    font-size: 24px;
  }
}
@media only screen and (max-width: 400px) {
  .error-container-text {
    font-size: 18px;
  }
}
.error-container-link {
  font-size: 18px;
  color: rgba(20, 20, 20, 0.8);
  font-weight: 500;
}
@media only screen and (max-width: 400px) {
  .error-container-link {
    font-size: 14px;
  }
}
.error-container a {
  border: 1px solid rgba(20, 20, 20, 0.8);
  border-radius: 25px;
  padding: 10px 15px;
  width: -moz-fit-content;
  width: fit-content;
}
.error-container a:hover {
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
}
.error-container svg {
  width: 1.5em;
  height: 1.5em;
}

.biography-container {
  margin: 0px auto;
  padding: 50px 75px;
  color: rgba(20, 20, 20, 0.8);
}
@media (max-width: 767px) {
  .biography-container {
    padding: 32px;
    gap: 30px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .biography-container article {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
.biography-container h2 {
  font-size: 36px;
}
@media (max-width: 767px) {
  .biography-container h2 {
    font-size: 28px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .biography-container h2 {
    font-size: 24px;
    text-align: center;
  }
}
.biography-container .biography-infos {
  min-width: 20vw;
}
.biography-container .biography-infos img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.studies-container {
  margin: 0px auto;
  padding: 50px 75px;
  background-color: rgba(20, 20, 20, 0.8);
  color: rgb(255, 255, 255);
}
@media (max-width: 767px) {
  .studies-container {
    padding: 32px;
    gap: 32px;
  }
}
.studies-container h2 {
  font-size: 36px;
}
@media (max-width: 767px) {
  .studies-container h2 {
    font-size: 28px;
    text-align: center;
  }
}
@media (max-width: 474px) {
  .studies-container h2 {
    font-size: 24px;
    text-align: center;
  }
}
.studies-container .studies-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1240px) {
  .studies-container .studies-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
.studies-container .studies-list .studies-item {
  width: 100%;
  height: 100%;
}

.diplomas-container {
  background-color: rgb(44, 44, 44);
  border-radius: 25px;
  padding: 30px;
  width: 100%;
  height: 100%;
}
@media (max-width: 475px) {
  .diplomas-container .diplomas-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
}
.diplomas-container img {
  width: 128px;
  height: 128px;
  border-radius: 25px;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (max-width: 475px) {
  .diplomas-container p {
    text-align: center;
  }
}
.diplomas-container .diplomas-infos {
  padding-left: 20px;
}
@media (max-width: 475px) {
  .diplomas-container .diplomas-infos {
    padding-left: 0px;
  }
}
.diplomas-container .diplomas-infos h3 {
  font-weight: bold;
  font-size: 26px;
}
.diplomas-container .diplomas-infos ul {
  flex-wrap: wrap;
}
@media (max-width: 475px) {
  .diplomas-container .diplomas-infos ul {
    justify-content: center;
  }
}
.diplomas-container .skills-acquired {
  flex-wrap: wrap;
}
@media (max-width: 475px) {
  .diplomas-container .skills-acquired {
    justify-content: center;
  }
}
.diplomas-container .skills-acquired p {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 5px 15px;
  width: -moz-fit-content;
  width: fit-content;
}

.experiences-container {
  margin: 0px auto;
  padding: 50px 75px;
  background-color: rgb(255, 255, 255);
  color: rgba(20, 20, 20, 0.8);
}
@media (max-width: 767px) {
  .experiences-container {
    padding: 32px;
    gap: 32px;
  }
}
.experiences-container h2 {
  font-size: 36px;
}
@media (max-width: 767px) {
  .experiences-container h2 {
    font-size: 28px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .experiences-container h2 {
    font-size: 24px;
    text-align: center;
  }
}
.experiences-container .experiences-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 1240px) {
  .experiences-container .experiences-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
.experiences-container .experiences-list .experience-item {
  width: 100%;
  height: 100%;
}

.experience-container {
  border: 1px solid rgba(20, 20, 20, 0.8);
  border-radius: 25px;
  padding: 30px;
  width: 100%;
  height: 100%;
}
@media (max-width: 475px) {
  .experience-container .experience-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
}
.experience-container img {
  width: 128px;
  height: 128px;
  border-radius: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 475px) {
  .experience-container p {
    text-align: center;
  }
}
.experience-container .experience-infos {
  padding-left: 20px;
}
.experience-container .experience-infos h3 {
  font-weight: bold;
  font-size: 26px;
}
.experience-container .experience-infos ul {
  flex-wrap: wrap;
}
@media (max-width: 475px) {
  .experience-container .experience-infos ul {
    justify-content: center;
  }
}
.experience-container .skills-acquired {
  flex-wrap: wrap;
}
@media (max-width: 475px) {
  .experience-container .skills-acquired {
    justify-content: center;
  }
}
.experience-container .skills-acquired p {
  background-color: rgb(86, 86, 255);
  color: rgb(255, 255, 255);
  border-radius: 25px;
  padding: 5px 15px;
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=index.css.map */