@import "./_settings.scss";
@import "./components/Header/_header.scss";
@import "./components/Navbar/_navbar.scss";
@import "./components/Hamburger/_hamburger.scss";
@import "./components/Footer/_footer.scss";
@import "./components/Introduction/_introduction.scss";
@import "./components/Network/_network.scss";
@import "./components/Contact/_contact.scss";
@import "./components/Skills_Intro/_skills_intro.scss";
@import "./components/Skills/_skills.scss";
@import "./components/Skill/_skill.scss";
@import "./components/Projects_Intro/_projects_intro.scss";
@import "./components/Project/_project.scss";
@import "./components/Project_Infos/_project_infos.scss";
@import "./components/Contact_Form/_contact_form.scss";
@import "./components/ErrorMessage/_error_message.scss";
@import "./components/Biography/_biography.scss";
@import "./components/Studies/_studies.scss";
@import "./components/Diplomas/_diplomas.scss";
@import "./components/Experiences/_experiences.scss";
@import "./components/Experience/_experience.scss";
